---

---
 <div class="lg:grid lg:grid-cols-12 lg:gap-8 mt-8">
        <div class= "md:max-w-2xl md:mx-auto lg:col-span-12 lg:text-left">
          <h1>
            <span class="mt-1 text-4xl tracking-tight font-extrabold sm:text-4xl xl:text-4xl">
              <span class="text-black max-w-screen-sm">Stay up to date with the most exiting developer tools.</span>
            </span>
          </h1>
          <p class="mt-3 text-md text-gray-900 sm:mt-5 sm:text-lg lg:text-lg xl:text-lg">  
            👋 Hi fellow stargazer! I’m Morris - a dev who is 🤩 about every new developer tool out there. 
            In my job as Chief Engineer at <a class="text-black underline" href="https://lunar.vc" target="_blank">a super early stage deep tech VC </a>I see a lot of new cutting edge developer tools. 
            On <a class="text-black underline" href="https://starstruck.dev" target="_blank">starstruck.dev</a> I want to share some of my highlights with you! 👇
          </p>
        </div>
      </div>