---

---
<div class="pt-10">
    <div class="md:max-w-2xl md:mx-auto lg:col-span-12 lg:text-left ">
    <nav class="flex items-left justify-between flex-wrap ">
    <div class="flex items-left text-black mr-6">
      <!-- <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg> -->
      <a href='https://starstruck.dev'>
      <span class="font-mono font-semibold text-xl tracking-tight">🤩 Starstruck.dev</span></a>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <!-- <a href="#products" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-white mr-4">
          Product Toplist
        </a> -->
<iframe src="https://ghbtns.com/github-btn.html?user=morrisclay&repo=starstruck.dev&type=star&count=true" frameborder="0" scrolling="0" width="150" height="20" title="GitHub"></iframe>
      </div>

    </div>
</nav>
</div>
</div>